weights/ filter=lfs diff=lfs merge=lfs -text
weights/BCE_loss_drive_100.pth filter=lfs diff=lfs merge=lfs -text
weights/custom_loss_drive_100.pth filter=lfs diff=lfs merge=lfs -text
weights/stare_BCE_loss_stare_100.pth filter=lfs diff=lfs merge=lfs -text
weights/stare_custom_loss_stare_100.pth filter=lfs diff=lfs merge=lfs -text
